nav.bottom-header__nav
	- var items = ["Блютуз наушники", "Микронаушники", "Блютуз колонки", "Аксессуары", "Доставка и оплата", "Гарантия", "О нас", "Контакты"]
	ul.nav-list
		each item in items
			if item!="Доставка и оплата"					
				li.nav-list__item
					a(href="#" class="nav-list__link")=item
			else if item="Доставка и оплата"
					li.nav-list__item
						a(href="#", class="nav-list__link")=item
						ul.sub-nav__list
							li.sub-nav__item
								a(href="#", class="nav-list__link")=item
							li.sub-nav__item
								a(href="#", class="nav-list__link")=item
							li.sub-nav__item
								a(href="#", class="nav-list__link")=item
							



			
				
				